<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Baperin</title>
    <link rel="stylesheet" href="/style/style.css" />
</head>

<body class="bodyPasswordVerification">
    <div class="wrapper">
        <div class="passwordVerificationContainer">
            <header class="headPasswordVerification">
                <h1>Silakan Masukan Kata Sandi untuk melanjutkan Pemesanan!</h1>
            </header>
            <form class="passwordVerification" method="post" action="/password-verification/<%= id %>/<%= username %>">
                <div class="form-password">
                    <input type="password" class="inputPassword" name="password" required placeholder="Masukan Kata Sandi" />
                    <i class="material-icons visibilityPassword">visibility_off</i>
                </div>
                <p class="errorStyle">
                    <%= errors %>
                </p>
                <input type="submit" value="Lanjut" name="passwordVerification" class="btnNext">
            </form>
            <a class="backToChooseSchedule" href="/pesan-jadwal/<%= id %>">Kembali</a>
        </div>
    </div>
    <%- include('footer'); %>
        <script src="script/toggleEye.js"></script>
</body>

</html>